:root {
  --main: yellowgreen;
  --main2: white;
}

.app {
  color: var(--main);
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4vh;
  margin-left: 2vw;
  width: 96vw;
  background: none;
  border: 2px solid var(--main);
  border-radius: 50px;
}

.upper {
  display: flex;
  justify-content: space-between;
}

.upperRight {
  display: flex;
  flex: 1 0;
}

@media screen and (max-width: 1485px) {
  .upperRight {
    flex-wrap: wrap;
  }
}

.upperLeft > img {
  margin-top: 20px;
  margin-left: 20px;
  height: 300px;
  border-radius: 50px;
}

.upperLeft > img:hover {
  transform: scale(1.07);
}

.email {
  display: none;
}

@media screen and (max-width: 1350px) {
  .email {
    display: inherit;
    width: 300px;
    height: 130px;
    border: 2px solid var(--main);
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
    text-align: center;
  }
  .email > h3 {
    margin-top: 35px;
  }
  .window {
    height: 110vh;
  }
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .window {
    height: 213vh;
  }
}

@media screen and (min-width: 0px) and (max-width: 860px) {
  .email {
    display: none;
  }
  .upperLeft > img {
    display: none;
  }
}
